<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {%load static%}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
                #rand{
                        height: 700px;
                        margin: 40px;
                        height
                }
        </style>
    </head>
<body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                {% load static %}
                        <source src="{% static 'form_app/trimmed.mp4' %}" type="video/mp4">
                                <!--Video grabbed from https://www.youtube.com/watch?v=U1myixlTLNw&t=33s-->
          </video>
        <span class="align-middle">
        <div class="d-flex justify-content-center bg-dark text-white" id="rand">
            <div class="d-flex flex-column">   
                        {% load from_group %}
                        {% if request.user|from_group:"Admin" %} 

                <div class="d-flex justify-content-center"><h2>Who are you?</h2></div>
                                <table class="tab1">
                                        <tr>
                                        <th>
                                                Game Name
                                        </th><th>Referee</th><th>Game Owner</th></tr>
                                        {% for inst in objects %}
                                        <tr>
                                                <td>
                                                        {{inst.GameName}}
                                                </td>
                                                <td>
                                                        {{inst.Referee}}
                                                </td>
                                                <td>
                                                        {{inst.Owner}}
                                                </td>
                                        </tr>
                                        {%endfor%}
                                </table>
                                {%endif%}
                                {% if request.user|from_group:"Game Owners" %} 
                                {%for inst1 in objects2%}
                                {%if user.username == inst1.username.username %}
                                <p> {{inst1.player1}} {{inst1.player2}}</p>
                                {%else%}
                                <p>No games assigned to you as of now</p>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
            </div>
            </div>
    </span>
            </html>
            