<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {%load static%}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <nav class="navbar bg-dark">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <a class="navbar-brand" href="#">SportsManagementSystem</a>
                          </div>
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="/admin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                          </ul>
                        </div>
                      </nav>
        <div class="d-flex justify-content-center bg-white" id="rand">
                        <span class="border border-info rounded">
            <div class="d-flex flex-column">   

                <div class="d-flex justify-content-center"><h2>Active Sport Events</h2></div>
                        <div class="table-wrapper">
                                <table class="tab1" border="1">
                                        <tr>
                                        <th>
                                                Game Name
                                        </th><th>Referee</th><th>Game Owner</th><th>Player 1</th>
                                        <th>Player 2</th><th>Player 3</th><th>Player 4</th><th>Player 5</th><th>Player 6</th><th>Player 7</th><th>Player 8</th>
                                        <th>Player 9</th><th>Player 10</th><th>Player 11</th>
                                        <th>Round1 Date</th><th>Round2 Date</th><th>Round3 Date</th><th>Winner</th><th>Runner Up</th><th>2nd Runner Up</th>
                                </tr>
                                        {% for inst in objects %}
                                        {%for inst1 in objects2%}
                                        {%if inst.Owner.username == inst1.username.username%}
                                        <tr>
                                                <td rowspan="2">
                                                        {{inst1.sport}}
                                                </td>
                                                <td rowspan="2">
                                                        {{inst.Referee}}
                                                </td>
                                                <td rowspan="2">
                                                        {{inst.Owner}}
                                                </td>
                                                <td>
                                                        {{inst1.player1.name}}
                                                </td>
                                                <td>
                                                        {{inst1.player2.name}}
                                                </td><td>
                                                        {{inst1.player3.name}}
                                                </td><td>
                                                        {{inst1.player4.name}}
                                                </td><td>
                                                        {{inst1.player5.name}}
                                                </td><td>
                                                        {{inst1.player6.name}}
                                                </td><td>
                                                        {{inst1.player7.name}}
                                                </td><td>
                                                        {{inst1.player8.name}}
                                                </td><td>
                                                        {{inst1.player9.name}}
                                                </td><td>
                                                        {{inst1.player10.name}}
                                                </td><td>
                                                        {{inst1.player11.name}}
                                                </td>
                                                
                                                <td rowspan="2">
                                                        {{inst1.round1_date}}
                                                </td>
                                                <td rowspan="2">
                                                        {{inst1.round2_date}}
                                                </td><td rowspan="2">
                                                        {{inst1.round3_date}}
                                                </td >
                                                <td rowspan="2">
                                                        {{inst1.winner.name}}
                                                </td>
                                                <td rowspan="2">
                                                        {{inst1.runner.name}}
                                                </td><td rowspan="2">
                                                        {{inst1.runner2.name}}
                                                </td>
                                        </tr><tr>
                                                <td>
                                                        {{inst1.playerb1.name}}
                                                </td>
                                                <td>
                                                        {{inst1.playerb2.name}}
                                                </td><td>
                                                        {{inst1.playerb3.name}}
                                                </td><td>
                                                        {{inst1.playerb4.name}}
                                                </td><td>
                                                        {{inst1.playerb5.name}}
                                                </td><td>
                                                        {{inst1.playerb6.name}}
                                                </td><td>
                                                        {{inst1.playerb7.name}}
                                                </td><td>
                                                        {{inst1.playerb8.name}}
                                                </td><td>
                                                        {{inst1.playerb9.name}}
                                                </td><td>
                                                        {{inst1.playerb10.name}}
                                                </td><td>
                                                        {{inst1.playerb11.name}}
                                                </td>
                                        </tr>
                                        {%endif%}
                                        {%endfor%}
                                        {%endfor%}
                                </table>
                        </div>
            </div>
                        </span>
            </div>
</body>
            </html>
            